# Environment variables and imports have been updated to use the .env file.
.env
.env.deployement
env.local

# Ignore Python cache files
__pycache__/
*.pyc
# Ignore virtual environment directories
venv/
# Ignore Django migrations
migrations/
# Ignore media files
media/
# Ignore static files
static/

# Ignore log files
*.log
# Ignore database files
*.sqlite3
# Ignore IDE specific files
.idea/
# Ignore system files
.DS_Store   
     
# Ignore coverage reports
.coverage
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python bytecode files
*.pyc       
# Ignore cache directories
.cache/
